<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Dan Chavez</span>, a design-minded full stack developer who combines the power of code &amp; design to bring ideas to life
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:dan.chavez@outlook.com" target="_blank" class="highlight-link">dan.chavez@outlook.com</a>
    </span>
  </h3>
</header>
